{% extends 'base.html' %}

{% block title %}Sobre Nós{% endblock title %}

{% block content %}
{% load static %}
<br><br><br>
<div align="center" >
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Nós somos a Clínica Olacy's Vet</h1>
      <p class="lead my-3"><strong>A Clinica Veterinária Olacy's Vet tem como compromisso oferecer os melhores recursos em Medicina Veterinária para seu animal de estimação. Fundada em 28 de setembro de 2020, busca oferecer aos proprietários dos animais a segurança de um tratamento competente, ético e acima de tudo um compromisso de muito respeito e dedicação aos animais.</strong></strong></p>
      <p class="lead my-3"><strong>Para isso contamos com uma estrutura privilegiada no Bairro Parque Tamandaré, trazendo sempre aprimoramento para atendimento qualificado para seu animal de estimação e para isso contamos com uma equipe de especialistas nas mais diversas áreas da Medicina Veterinária de Cães e Gatos, formada por médicos veterinários capacitados experientes e em constante atualização.</strong></p>
      <br>
      <img src="https://assets.website-files.com/5ce2e8de2575f27cdf7815f1/5e1635e3546baa82ad81a907_GettyImages-529116816.jpg">
    </div>
  </div>
  <br><br>
{% endblock content %}