{% extends 'base.html' %}
{% block title %}Doe Sangue{% endblock title %}

{% block content %}
{% load static %}


<br><br>

    <section id="services" class="services services">
        <div class="container" data-aos="fade-up">
  
          <div align="center" class="section-title">
            <h1 class="display-4 font-italic">Animais podem doar sangue? entenda mais sobre o assunto.</h1>
            <img src="{% static 'images/cachorro_doando_sangue.jpg' %}">
            <br>
            <p>Entenda como os <b>animais podem doar sangue</b> e quais os casos em que a doação não pode ocorrer. </p>
            <br><br>
          </div>
  
        <div>
        <p class="lead my-3"><strong>No mundo humano é super importante a doação de sangue para salvar a vida de uma pessoa e com os pets isso não é diferente. Afinal, animais podem doar sangue e ajudar o outro. </strong></p>
        </div>
        <div>
        <p class="lead my-3"><strong>Isso ocorre da mesma forma do que com os humanos. Em casos de acidente ou até para tratamento de doenças, as transfusões são essenciais e até mesmo simples de serem feitas. </strong></p>
        </div>
        <div>
        <p class="lead my-3"><strong>Apesar de não ser um ato muito conhecido entre os tutores, a doação de sangue animal é tão importante quanto no mundo humano. Sendo assim, deve-se reforçar o quão necessário é ter um banco de sangue acessível para animais que precisam de cirurgia.</strong></p>
        </div>
        <div>
        <p class="lead my-3"><strong>Claro que alguns tutores vão ter algum receio do procedimento. Para isso, vamos responder todas as perguntas frequentes e como os animais podem doar sangue sem outros perigos.</strong></p><br>
        </div>
        <div>
        <h3 class="featurette-heading">Como é o processo para a doação de sangue animal?<span class="text-muted"></span></h3>
        <p class="lead my-3"><strong>Antes de tudo, é preciso saber que esse procedimento é realizado sempre por um veterinário profissional. Ou seja, o tutor pode ficar tranquilo; o procedimento é rápido.</strong></p>
        <p class="lead my-3"><strong>Durante a doação, é importante que o pet permaneça quietinho. Em alguns casos, pode ser usado um leve sedativo para deixar o animal mais tranquilo durante a transfusão.</strong></p>
        <p class="lead my-3"><strong>Mas, no caso do sedativo, isso será somente necessário se o veterinário chegar a essa conclusão, então não é uma regra.</strong></p>
        <p class="lead my-3"><strong>Nesse procedimento é realizado um acesso venoso, para que o sangue da veia do doador saia para a bolsa que fica em constante movimento e evitando coagulação.</strong></p><br>
        </div>
        <div>
          <h3 class="featurette-heading">O que fazer antes do procedimento?<span class="text-muted"></span></h3>
          <p class="lead my-3"><strong>Os profissionais afirmam que antes de realizar a doação de sangue animal, é preciso que o pet esteja pelo menos quatro horas em jejum.</strong></p>
          <p class="lead my-3"><strong>O processo é bem rápido. Em gatos leva cerca de 20 minutos e, geralmente, a quantidade é de 60 ml de sangue.</strong></p>
          <p class="lead my-3"><strong>No caso dos cães, o procedimento leva cerca de 15 minutos e pode chegar a 450 ml de sangue retirado. Mas fique tranquilo! Em toda doação, a priorização é o bem-estar do seu amigo de quatro patas.</strong></p>
          <p class="lead my-3"><strong>Depois do processo, o animal pode receber alguns petiscos fornecidos pelo veterinário como forma de agradecimento por se comportar bem durante a transfusão e para dar mais força para o pet.</strong></p>
          <p class="lead my-3"><strong>Lembrando que a doação só pode ser feita a cada 3 meses. Dessa forma, a saúde do pet doador não será prejudicada.</strong></p><br>
        </div>
        <div>
          <h3 class="featurette-heading">Como saber se os meus animais podem doar sangue?<span class="text-muted"></span></h3><br>
           <div align="center" class="section-title">
          <img src="{% static 'images/gato_doando_sangue.jpg' %}">
          <p>Assim como os seres humanos, existem características específicas para um pet se tornar doador. Entenda mais a seguir. </p><br>
        </div>
        <div>
          <h3 class="featurette-heading">Características dos gatos doadores<span class="text-muted"></span></h3>
         <p class="lead my-3"><strong>Para um gatinho se tornar um doador é preciso que ele tenha: </strong></p>
         <li>Entre um e sete anos de idade;</li>
         <li>Pesar mais de 5 quilos;</li>
         <li>Ser dócil, já que na doação o animal precisa estar acordado;</li>
         <li>Ter a vacinação e vermifugação em dia;</li>
         <li>Controle de pulgas e carrapatos também devem estar atualizados;</li>
         <li>Não possuir doenças;</li>
         <li>As fêmeas não podem estar em período de gestação.</li>
        </div>
        <div>
          <br>
        <h3 class="featurette-heading">Características dos cães doadores<span class="text-muted"></span></h3>
         <p class="lead my-3"><strong>No caso dos cães, para se tornar um doador é preciso que: </strong></p>
         <li>Tenha entre um e oito anos de idade;</li>
         <li>Pesar mais de 25 quilos;</li>
         <li>Estar livre de pulgas e carrapatos;</li>
         <li>Vermifugação e vacinação em dia;</li>
         <li>Se for fêmea, também não pode estar no período de gestação.</li>
  
         <p class="lead my-3"><strong>É importante destacar que o processo de doação é algo indolor e não tem efeitos colaterais. Então o tutor pode ficar tranquilo caso decida tornar seu pet um doador.</strong></p>
         <p class="lead my-3"><strong>Vale destacar que, assim como os humanos, os animais podem ficar um pouco fracos nas primeiras 24 horas, mas é algo normal e passageiro.</strong></p>
        </div>
        <div>
          <h3 class="featurette-heading">Tem que realizar algum exame antes do procedimento?<span class="text-muted"></span></h3>
          <p class="lead my-3"><strong>Os animais podem doar sangue, mas é necessário manter a saúde e a segurança tanto do doador, quanto do pet que irá receber a doação. Com isso, são feitos alguns exames antes da transfusão.</strong></p>
          <p class="lead my-3"><strong>Geralmente são realizados exames como hemograma e sorologias, para determinar se o pet possui alguma doença e se ele pode ser ou não doador de sangue.</strong></p>
          <p class="lead my-3"><strong>Além disso, é realizada a tipagem sanguínea determinando o tipo de sangue do pet, para que ele possa ser um doador efetivo.</strong></p>
          <p class="lead my-3"><strong>Outro ponto importante é que cães não podem receber bolsas de sangue doados por gatos. Afinal, são tipagens diferentes.</strong></p>
          <p class="lead my-3"><strong>No universo canino, podem existir até 13 tipos de sangue, enquanto os gatos têm três tipos sanguíneos. Durante a doação é feito teste de compatibilidade para evitar que o pet que irá receber o sangue, receba o tipo sanguíneo errado.</strong></p>
        </div>
        <div>
          <h3 class="featurette-heading">Importância da doação sanguínea dos pets<span class="text-muted"></span></h3>
          <p class="lead my-3"><strong>Como já explicado, o procedimento é muito parecido com o dos humanos e possui a mesma função: salvar a vida dos animais, seja por acidentes, traumas ou doenças autoimunes.</strong></p>
          <p class="lead my-3"><strong>O Hospital Veterinário 24h Olacy's Vet conta com dois centros cirúrgicos com equipamentos de última geração e os melhores profissionais para cuidar do seu animal de estimação.</strong></p>
          <p class="lead my-3"><strong>Por ser um hospital que realiza cirurgias em animais, regularmente é preciso que ocorra a transfusão de sangue</strong></p>
          <p class="lead my-3"><strong>Para saber mais sobre a doação de sangue na Olacy's Vet, entre em contato conosco pelo telefone (22) 1-2345-6789 ou vá até a Clínica Veterinária, localizada em Campos dos Goytacazes Próximo ao supermercado Extra.</strong></p>
        </div>
  
  
      </section>
  
    <br><br>


{% endblock content %}