{% extends 'base.html' %}
{% block title %}Cancelamentos{% endblock title %}

{% block content %}
{% load static %}

<br><br>

<section id="services" class="services services">
    <div class="container" data-aos="fade-up">

      <div align="center" class="section-title">
        <h1 class="display-4 font-italic">Olacy's Vet | Cancelamentos, Trocas e Devoluções de Mercadorias </h1>
        <br><br>
      </div>
  <div>
  <p class="lead my-3"><strong><b> 1. Cancelamentos de pedidos</b> serão aceitos com <b>total reembolso</b> dos valores pagos se ainda <b>não despachados.</b></strong></p>
  </div>
  <div>
   <p class="lead my-3"><strong><b> 2.</b> serão aceitos com Em casos de <b>troca</b> ou <b>devolução</b> de mercadorias já despachadas, o produto deve ser reencaminhado para nossa loja física sem que sua embalagem tenha sido violada, com todos os acessórios dentro de 7 (sete) dias. A Olacy's vet deve ser notificada imediatamente para que possa auxiliá-lo no procedimento de troca. O reembolso será efetuado subtraindo-se as despesas de frete.<b> A devolução de produtos com embalagem violada ou com sinais de uso não será aceita.</b></strong></p>
  </div>
  <div>
  <p class="lead my-3"><strong><b> 3.</b> Caso algum produto tenha sido﻿ <b>expedido por engano</b>, esteja em <b>desacordo com o pedido, avariado</b> e/ou <b>danificado durante o transporte</b>, entre em contato conosco. Se for comprovada a nossa falha ou problemas no transporte, faremos a troca do(s) produto(s) enviado(s) erroneamente ou o estorno de todos os valores pagos, <b>inclusive de frete</b>. Mas é fundamental que, antes de realizar a devolução,<b> entre em contato conosco para repassarmos as devidas orientações.</b></strong></p>
  </div>
  <div>
  <p class="lead my-3"><strong><b> 4.</b> No caso dos produtos <b>Sob Encomenda (personalizados)</b>, o cancelamento será possível em até <b>1 (um) dia útil</b> após a confirmação de pagamento. Após esse período, o produto personalizado não poderá ser cancelado, trocado ou devolvido.</strong></p>
  </div>
  <div>
  <p class="lead my-3"><strong><b> 5.</b> Para devolução de produtos de pronta entrega já despachados pela Olacy's vet e que enquadrem-se no caráter de <b>Desistência</b> por parte do cliente, ele deverá arcar com custos de frete para devolução. A mercadoria deve ser <b>devolvida em sua embalagem original, inviolada.</b> O estorno/cancelamento do pagamento só será efetivado <b>após o recebimento da mercadoria por parte da empresa.</b></strong></p>
  </div>
  <div>
  <p class="lead my-3"><strong><b> 6.</b> Neste caso, o produto devolvido deverá se encontrar em perfeito estado, com todas as peças, opcionais munidos de manuais (se houverem). Se detectado o uso do produto ou avaria, a Olacy's vet não aceitara o produto de volta.</strong></p>
  </div><br>
  <div>
  <p class="lead my-3"><strong><b>Para quaisquer outros problemas detectados, favor entrar em contato conosco para lhe orientarmos sobre os procedimentos corretos a serem adotados.</b></strong></p>
  </div>

  </section>

{% endblock content %}