{% extends 'base.html' %}
{% block title %}Entregas{% endblock title %}

{% block content %}
{% load static %}

<br><br>

<section id="services" class="services services">
    <div class="container" data-aos="fade-up">

      <div align="center" class="section-title">
        <h1 class="display-4 font-italic">Entregas </h1>
        <br><br>
      </div>
  <div>
    <h3 class="featurette-heading">Condições gerais<span class="text-muted"><br><br></span></h3>
    <p class="lead my-3"><strong>As entregas feitas pela Olacy's Vet são realizadas de segunda-feira a sexta-feira, das 8h às 21h.
O prazo de entrega é contado a partir da confirmação do pagamento em dias úteis, ou seja, não inclui sábados, domingos e feriados.</strong></p>
    <p class="lead my-3"><strong>Excepcionalmente entregas podem ocorrer aos sábados.</strong></p>
    <p class="lead my-3"><strong>Após a confirmação do pagamento, o prazo para emissão da Nota Fiscal é de até 5 dias úteis.</strong></p>
    <p class="lead my-3"><strong>Por favor, confira as dimensões do produto e certifique-se de que estão adequadas aos elevadores, portas e corredores do local da entrega, pois não fazemos a montagem, desmontagem do produto e/ou portas e janelas, transporte pela escada ou içamento pelo lado de fora do prédio.</strong></p>
    <p class="lead my-3"><strong>As equipes dos Correios realizam até três tentativas de entrega no local informado. É indispensável que, no endereço solicitado, tenha uma pessoa autorizada pelo comprador(a), maior de 18 anos, e portando documento de identificação para receber a mercadoria e assinar o protocolo.</strong></p>
    <p class="featurette-divider"> <b>IMPORTANTE: </b><span class="lead my-3"><strong> Todos os prazos de entrega levam em consideração o estoque, a região, o processo de emissão da nota fiscal e o tempo de preparo do produto. Mantenha seu e-mail atualizado no cadastro.</span></strong></p><br>
  </div>

    <h3 class="featurette-heading">Situações em que pode ocorrer atraso na entrega<span class="text-muted"><br><br></span></h3>
    <p class="lead my-3"><strong>Se houver três tentativas de entrega sem sucesso ou existir alguma norma diferenciada de entrega da unidade dos Correios de seu bairro, o pedido retornará e permanecerá no Centro de Distribuição até que seja retirado. Caso não seja feita a retirada, sua compra retornará para a Olacy's Vet e o frete deverá ser pago novamente.</strong></p>
    <p class="lead my-3"><strong>Após a conclusão do pedido, não é possível alterar o endereço de entrega. Caso tenha fornecido o endereço errado, entre em contato com o setor de atendimento ao cliente (sac@olacysvet.com.br) e solicite o cancelamento da compra ou a alteração do endereço. Esse contato deve ser realizado antes do envio da mercadoria. Caso contrário, a mercadoria será despachada e, posteriormente voltará para a Olacy's Vet.</strong></p>
    <p class="featurette-divider"> <b>IMPORTANTE: </b><span class="lead my-3"><strong> por motivos de segurança, em hipótese alguma nossos operadores alteram o endereço de entrega ou os dados cadastrais dos clientes.
    Caso tenha fornecido o endereço incompleto, entre em contato com o setor de atendimento ao cliente (sac@olacysvet.com.br) o mais breve possível e informe os dados que faltaram.</span></strong></p>
    <p class="featurette-divider"> <b>IMPORTANTE: </b><span class="lead my-3"><strong>Fatores naturais e adversos: chuvas fortes, acidentes ou greves na região onde o produto deveria ser entregue podem atrasar ou até mesmo impossibilitar a chegada do transportador.</span></strong></p>
  </div>

  </section>

  <br><br>

{% endblock content %}