{% extends 'base.html' %}

{% block title %}Primeiros Socorros{% endblock title %}
{% load static %}

{% block content %}
<br><br>

<section id="services" class="services services">
    <div class="container" data-aos="fade-up">

      <div align="center" class="section-title">
        <h1 class="display-4 font-italic">Saiba o que fazer para prestar primeiros socorros em animais </h1>
        <img src="{% static 'images/primeiros_socorros.jpg' %}">
        <p>Apesar das dicas serem importantes é crucial levar o pet ao veterinário o mais rápido possível. </p>
        <br><br>
      </div>

    <div>
    <p class="lead my-3"><strong>Se preocupar com o bem-estar de seu animal de estimação é a premissa básica de quem tem pets. Gasta-se dinheiro com rações super-premium, banho, vacinas, passeios e todo o tipo de objetos que eles possam arranhar ou mastigar. Porém, apesar do zelo ser uma constante, muitas vezes os tutores podem ser surpreendidos por situações como brigas, engasgos e quedas que põe em risco a vida dos animaizinhos. Conversamos com o veterinário Vitor Pereira Rolim, que nos deu algumas sugestões de primeiros socorros, para esses casos. </strong></p>
    </div>
    <div>
    <p class="lead my-3"><strong>“As pessoas tendem a querer fazer tudo antes de levar à clínica. Esperar para ver. Isso não é bom. Muitas vezes a recuperação do pet poderia ser muito mais rápida se o dono tivesse levado antes ao profissional. Às vezes a pessoa até fez coisas que foram boas para o animal, mas não é o tratamento correto”, afirma Vitor. O especialista alerta que, apesar das dicas serem importantes, elas só devem ser seguidas caso o tutor não consiga consultar o profissional rapidamente. Por isso, para ajudar você a se preparar para imprevistos de saúde do seu bichinho, conheça quais primeiros cuidados você deve tomar! </strong><br><br></p>
    </div>
    <div>
    <h3 class="featurette-heading">Engasgo<span class="text-muted"></span></h3>
    <p class="lead my-3"><strong>Primeiro abra a boca do animal e tente retirar o objeto com a mão, mas sem empurrar - pois isso pode machucá-lo ou fazer com se engasgue ainda mais. “Cuidado ao puxar o objeto para não machucar, mesmo que não seja pontiagudo ele pode cortar alguma coisa durante o trajeto”, afirma. Se cão ou gato tentar morder ou cerrar os dentes dê um tapa nas costas ou entre as omoplatas. Em caso de animais de pequeno e médio porte você pode também tentar virá-los de cabeça para baixo e sacudi-los. A força da gravidade pode ajudar a desengasgar. </strong></p><br>
    </div>
    <div>
    <h3 class="featurette-heading">Briga<span class="text-muted"></span></h3>
    <p class="lead my-3"><strong>Não adianta tentar entrar no meio de uma briga entre animais ou você pode sair seriamente lesionado. Se os encrenqueiros forem cães (versus cães ou gatos) jogue água para esfriar os ânimos, literalmente. Se for entre gatos basta fazer muito barulho para acalmar os bichanos. “Se você estiver em casa, pode usar um objeto como travesseiros mas cuidado para o animal não se voltar contra você, use travesseiros longos para passar entre os animais”, aconselha o veterinário. </strong></p><br>
    </div>
    <div>
    <h3 class="featurette-heading">Queda<span class="text-muted"></span></h3>
    <p class="lead my-3"><strong>Quem mora em apartamento ou casa com mais de um andar deve sempre atentar para as janelas. Porém, mesmo que o espaço esteja todo envolvido com telas de proteção, acidentes como quedas podem ocorrer. Caso isso ocorra, Vitor aconselha imobilizar o animal. “Não faça o animal andar, mesmo que o animal tenha (visivelmente) apenas uma fratura, ele pode acabar se apoiando aquela parte  e machucar mais, tente carregá-lo (mesmo sendo grande porte)”. </strong></p><br>
    <p class="lead my-3"><strong>Também não é indicado mudar o bicho de posição. “No caso de queda muito cuidado quando for pegar o animal, tente pegá-lo sem alterar muito a posição que ele se encontra. Se estiver com muito sangramento, pressione o local para conter a hemorragia e corra para o veterinário”, sugere. </strong></p><br>
    </div>
     <div>
    <h3 class="featurette-heading">Convulsão<span class="text-muted"></span></h3>
    <p class="lead my-3"><strong>“Para convulsão, o ideal é manter o animal no colo ou no chão e segurá-lo com cuidado para que ele não bata a cabeça ou outra parte do corpo ou até mesmo caia de um local, por exemplo, o sofá”, aconselha. O veterinário explica que muitas vezes a convulsão pode ser reflexo de envenenamento/trauma /choque (hipovolemia, hipoglicemia e etc...), por isso é preciso levar o pet para o profissional o mais rápido possível. “Lá, relate tudo o que você sabe sobre os dias que se passaram antes do quadro”, diz.</strong></p><br>
    </div>
    <div>
    <h3 class="featurette-heading">Veneno<span class="text-muted"></span></h3>
    <p class="lead my-3"><strong>Nessa situação o ideal é a ida rápida ao veterinário, uma vez que o veneno pode atingir a corrente sanguínea em menos de meia hora. Mas se você quiser agir rapidamente, tente fazer o animal vomitar. Se você tiver certeza do envenenamento coloque água oxigenada em uma seringa e ponha na boca do animal, mas faça isso o mínimo de vezes possível. Se você não tiver certeza do tempo em que o pet ingeriu o veneno também é aconselhado misturar carvão ativado (que não é o mineral) na água mineral, até formar uma pasta e dar para o bicho.</strong></p><br>
    </div>
     <div>
    <h3 class="featurette-heading">Parada cardíaca<span class="text-muted"></span></h3>
    <p class="lead my-3"><strong>Deite o pet com a lateral esquerda do corpo voltada para o chão. Em seguida, faça pressão na região do tórax, próximo ao segundo ou terceiro par de mamas. Lembre-se que esse procedimento é extremamente técnico e deve ser feito apenas se você tiver total domínio e segurança.</strong></p><br>
    </div>


  </section>
{% endblock content %}