{% extends 'base.html' %}
{% block title %}Olacy's Vet{% endblock title %}

{% block content %}
{% load static %}



<link rel="stylesheet" href="{% static 'css/carousel.css' %}" />
<link rel="stylesheet" href="{% static 'css/cards.css' %}" />

<main>
    <div class="container-fluid">
      <div id="mainSlider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#mainSlider" data-slide-to="0" class="active"></li>
          <li data-target="#mainSlider" data-slide-to="1"></li>
          <li data-target="#mainSlider" data-slide-to="2"></li>
         </ol> 
         <div class="carousel-inner">
           <div class="carousel-item active">
             <img src="{% static 'images/banner_1.png' %}" class="d-block w100" alt="olacysvet">
             <div class="carousel-caption d-none d-md-block">
             </div>
           </div>
            <div class="carousel-item">
             <img src="{% static 'images/banner_2.png' %}" class="d-block w100" alt="olacysvet">
             <div class="carousel-caption d-none d-md-block">
             </div>
           </div>
            <div class="carousel-item">
             <img src="{% static 'images/banner_3.png' %}" class="d-block w100" alt="Conheça nossas especialidades">
             <div class="carousel-caption d-none d-md-block">
               <h2>Conheça nossas especialidades</h2>
               <p>Nossas Especialidades Veterinárias Atualmente e equipe do Olacy's Vet Hospital Veterinário 24 horas é composta por...</p>
               <a href="{% url 'pages:services' %}" class="main-btn">saiba mais.</a>
             </div>
           </div>
          
         <a href="#mainSlider" class="carousel-control-prev" role="button" data-slide= "prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="sr-only">Anterior</span>
         </a>
        <a href="#mainSlider" class="carousel-control-next" role="button" data-slide= "next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="sr-only">Próxmo</span>
         </a>
      </div>
    </div>
  </main>
<br><br>

<section id="cards">
  <div class="container">
    <div class="card">
    <div class="imgBx">
    <img src="{% static 'images/doe_sangue_card.png' %}"> 
    </div>
    <div class="content">
      <h2>Salve um amigo</h2>
      <p>é super importante a doação de sangue para salvar a vida de uma pessoa e com os pets isso não é diferente. Afinal, animais podem doar sangue e ajudar o outro.</p>
      <p><a class="btn btn-secondary" href="{% url 'pages:bloodDonation' %}" role="button">Saiba Mais.</a></p>
    </div>
    </div>
    <div class="card">
    <div class="imgBx">
    <img src="{% static 'images/primeiro_socorro_card.jpg' %}"> 
    </div>
    <div class="content">
      <h2>Primeiros Socorros</h2>
      <p>É extremamente importante estar preparado para possíveis emergências que possam ocorrer com seu melhor amigo</p>
      <p><a class="btn btn-secondary" href="{% url 'pages:emergency' %}" role="button">Saiba Mais.</a></p>
    </div>
    </div>
    <div class="card">
    <div class="imgBx">
    <img src="{% static '/images/lar_temporario.jpg' %}"> 
    </div>
    <div class="content">
      <h2>Lar temporário</h2>
      <p>Conheça a importância e os benefícios de oferecer um lar temporário para animais</p>
      <p><a class="btn btn-secondary" href="{% url 'pages:temporaryHome' %}" role="button">Saiba Mais.</a></p>
    </div>
    </div>
  </div>
</section>

<hr class="featurette-divider">

<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="https://portalfacilarquivos.blob.core.windows.net/uploads/PIRANGA/imgOrig/%7B4EDEEE63-ED23-0A1E-5BBC-C4CE61E58BC1%7D.jpeg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="featurette-heading">Você sabia? <span class="text-muted"><br>Os pets não transmitem COVID-19</span></h2>
                    <p>A Organização Mundial da Saúde (OMS) está monitorando pesquisas sobre a relação entre animais de estimação e a Covid-19, doença causada pelo novo coronavírus. Até o momento, não há evidência significativa de que animais de estimação possam ficar doentes ou transmitir a doença.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="https://veja.abril.com.br/wp-content/uploads/2016/05/alx_guia-veja-cachorros-20141217-004_original1.jpeg?quality=70&strip=info&resize=680,453" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="featurette-heading">Como identificar se seu cão está sentindo dor?<span class="text-muted"><br>mantenha-se atento!</span></h2>
                    <p>Engasgar, chacoalhar a cabeça e rebolar são exemplos de sinais que podem indicar algum tipo de dor. Confira se seu animalzinho não está sofrendo em silêncio. Além de evitar o sofrimento prolongado, o diagnóstico precoce só traz benefícios. Afinal, é mais fácil e eficiente tratar doenças em estágio inicial.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'images/dogbox.png' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="featurette-heading">Já soube da novidade? <span class="text-muted"><br>Chegou as caixas surpresas da Olacy's Vet!</span></h2>
                    <p>Faça uma assinatura mensal ou anual e receba todo mês em sua casa uma caixa cheia de surpresas para seu bichinho.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="contact">
    <div align="center" class="container">

      <div class="section-title">
        <h2>Fale conosco</h2>
        <p>Nosso endereço, contato e área para nos enviar uma mensagem.</p>
      </div>

    </div>
   
    <div>
        <center>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14822.58580693424!2d-41.338481!3d-21.755228!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4e08696779d4b337!2sSaturn%C3%A1lia%20Club!5e0!3m2!1spt-BR!2sbr!4v1601329251425!5m2!1spt-BR!2sbr" width="1100" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></center>
    </div>
    
    <div class="container">

      <div class="row mt-5">

        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-12">
              <div  align="center" class="info-box">
                <i class="bx bx-map"></i>
                 <img alt="local" width="40" height="40" data-sticky-width="150" data-sticky-height="40" src="https://anossamesa.org/wp-content/uploads/2020/07/106165.png">
                <h3>Endereço</h3>
                <p>Av. Pelinca, 410 - Parque Tamandaré, Campos dos Goytacazes <br>- Rio de Janeiro, 28035-053</p>
              </div>
            </div>
            <div align="center" class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-envelope"></i>
                 <img alt="email_image" width="37" height="37" data-sticky-width="150" data-sticky-height="40" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQTw-GLH6M52Kief_yTcTWzDKeQIkNd7qZCfg&usqp=CAU">
                <h3>Email</h3>
                <p>olacy.vet@gmail.com<br>sac@olacysvet.com.br</p>
              </div>
            </div>
            <div align="center" class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx:phone-call"></i>
                <img alt="tel_image" width="37" height="37" data-sticky-width="150" data-sticky-height="40" src="https://imagensemoldes.com.br/wp-content/uploads/2020/12/Desenho-Icone-Telefone-PNG-1024x1024.png">
                <h3>Telefone</h3>
                <p>(22) 1-2345-6789 <br>(22) 9-8765-4321</p>
              </div>
            </div>
          </div>
        </center>
        </div>
  <div>
    <img class="featurette-image img-fluid mx-auto" src="{% static 'images/vet_rua.png' %}" data-src="holder.js/500x500/auto" alt="Generic placeholder image" width="550" height="700">
    
  </div>
{% endblock content %}