{% extends 'base.html' %}

{% block title %}Politica de Privacidade{% endblock title %}
{% load static %}

{% block content %}
<br><br>

<section id="services" class="services services">
    <div class="container" data-aos="fade-up">

      <div align="center" class="section-title">
        <h1 class="display-4 font-italic">Política de Privacidade: nossa responsabilidade com seus dados pessoais. </h1>
        <br><br>
      </div>
  <div>
  <p class="lead my-3"><strong>Temos o compromisso com a privacidade e a segurança de nossos clientes durante todo o processo de navegação e compra no site. Os seus dados cadastrais não são vendidos, trocados ou divulgados para terceiros, exceto quando essas informações são necessárias para o processo de entrega ou para cobrança.</strong></p>
  </div>
  <div>
    <p class="lead my-3"><strong>A qualidade das informações pessoais é peça fundamental para que seu pedido chegue em segurança no local desejado.</strong></p>
  </div>
  <div>
    <p class="lead my-3"><strong>Ao se cadastrar em nossa Loja Virtual, você terá a opção de receber ou não, em sua caixa de e-mail, novidades e avisos de promoções. Mas também é possível alterar essa opção a qualquer momento, diretamente em sua Página de Cliente, após realizar o Login. Ressaltamos que não utilizamos seu cadastro pessoal para envio de material publicitário sem sua prévia autorização.</strong></p>
  </div>
  <div>
    <p class="lead my-3"><strong>Nossos bancos de dados são protegidos e temos como compromisso com nossos clientes não deixar vazar qualquer tipo de informações pessoais, como: endereço, CPF, Cartão de crédito e etc.</strong></p>
  </div>
  <div>
    <p class="lead my-3"><strong>O compartilhamento de informações pessoais dos nossos clientes só pode acontecer, única e exclusivamente, sob ordens judiciais a título de investigações, bem como a pedido do próprio cliente.</strong></p>
  </div>

  </section>



<br>


{% endblock content %}