{% extends 'base.html' %}
{% block title %}Serviços{% endblock title %}
{% block content %}

{% load static %}

<br><br><br>

<section id="services" class="services services">
    <div class="container" data-aos="fade-up">

      <div align="center" class="section-title">
        <h1 class="display-4 font-italic">Serviços </h1>
        <p class="lead my-3"><strong>Estão aqui listados os serviços que nossa clinica se encontra a realizar.</strong></p>
      </div>
      <br>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Cirurgia Geral<span class="text-muted"><br></span></h2>
          <p class="lead">Nossos procedimentos são realizados por uma equipe especializada, formada por dois cirurgiões e dois anestesistas num moderno centro cirúrgico e incluem controle rigoroso de esterilização em todos os processos do ato cirúrgico.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="https://i.imgur.com/lHbzXzg.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image" width="500" height="500">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Odontologia<span class="text-muted"><br></span></h2>
          <p class="lead">A saúde bucal é tão importante para os animais quanto para as pessoas. Os problemas de saúde são muitas vezes relacionados aos problemas orais. Conte com nossos serviços de profilaxia e tratamento periodontal para seu pet.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="https://i.imgur.com/OGAVVim.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image"  width="500" height="500">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Vacinação <span class="text-muted"><br></span></h2>
          <p class="lead">Ao primeiro contato com seu animal de estimação, certifique-se à respeito de suas vacinas. Os cães devem receber a primeira dose de vacina polivalente aos 45 dias de idade, e os gatinhos aos 60 dias. As mesmas devem ser repetidas nos próximos meses e depois ao longo de toda a vida do animal, para garantir uma vida saudável e feliz. Conte com a equipe do Vet Plus Hospital Veterinário para cuidar da saúde do seu pet desde o comecinho.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="https://i.imgur.com/EO9CwaD.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image" width="500" height="500">
        </div>
      </div>

<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Hemograma<span class="text-muted"><br></span></h2>
          <p class="lead">Nossa clínica possui laboratório próprio que nos permite realizar exames de sangue com resultado instantâneo, diagnosticando, de forma rápida e precisa, possíveis deficiências na saúde do animal.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="https://www.vetquality.com.br/wp-content/uploads/2018/03/hematologista-veterinario-saiba-mais-sobre-esse-profissional.jpeg" data-src="holder.js/500x500/auto" alt="Generic placeholder image"  width="500" height="500">
        </div>
      </div>

              <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Banho e Tosa <span class="text-muted"><br></span></h2>
          <p class="lead">Aqui seu pet tem tratamento VIP do início ao fim. Oferecemos serviço de banho e tosa para seu animal estar sempre bonito e cheiroso.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="https://atacama.ind.br/wp-content/uploads/2016/07/como-montar-um-pet-shop.png" data-src="holder.js/500x500/auto" alt="Generic placeholder image" width="700" height="500">
        </div>
      </div>
     
     <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Raio-X<span class="text-muted"><br></span></h2>
          <p class="lead">Na necessidade de realizar raio-x, seu pet não precisa ir a outra clínica. Nosso Centro Veterinário possui equipamento próprio de raio-x.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="https://www.revistaveterinaria.com.br/wp-content/uploads/2017/01/Montagem%20Raio-x%20digital%201.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image"  width="500" height="500">
        </div>
      </div>
    </div>

<br><br>
{% endblock content %}