{% extends 'base.html' %}

{% block title %}Lar Temporário{% endblock title %}
{% load static %}

{% block content %}
<br><br>

    <section id="services" class="services services">
        <div class="container" data-aos="fade-up">
  
          <div align="center" class="section-title">
            <h1 class="display-4 font-italic">Oque é um lar temporário para animais e como ajudar um?</h1>
            <img src="{% static 'images/lar-temporario-para-animais.jpg' %}">
            <br>
            <p>Conheça a importância e os benefícios de oferecer um <b>lar temporário para animais </b></p>
            <br><br>
          </div>
  
        <div>
        <p class="lead my-3"><strong>Infelizmente, há milhões de animais abandonados em todo o Brasil. Essa é uma realidade muito triste e esses bichinhos estão expostos a uma série de perigos que, somados à ausência de carinho e de atenção, são verdadeiramente cruéis. É uma pena saber que não podemos adotar todos, não é mesmo?</strong></p>
        </div>
        <div>
        <p class="lead my-3"><strong>Mas você sabia que pode ajudar, mesmo sem adotá-los? Esse é o trabalho do voluntário de <b>lar temporário para animais</b>, um trabalho que muda vidas e permite que animais abandonados tenham uma nova chance para serem felizes.</strong></p>
        </div>
        <div>
        <div>
        <p class="lead my-3"><strong>Quer saber mais sobre esse conceito? Então, continue a leitura!</strong></p><br>
        </div>
        <div>
        <h3 class="featurette-heading">O que é um lar temporário para animais?<span class="text-muted"></span></h3>
        <p class="lead my-3"><strong>O lar temporário é um conceito relativamente recente, que aborda a ideia de fornecermos, temporariamente, uma casa para um animalzinho abandonado enquanto ele não é adotado de forma definitiva.</strong></p>
        </div>
        <div>
          <h3 class="featurette-heading">Qual é a importância desse conceito?<span class="text-muted"></span></h3><br>
         <p class="lead my-3"><strong>Os lares temporários são importantes para: </strong></p>
         <li>evitar a superpopulação em abrigos de animais abandonados;</li>
         <li>fornecer uma atenção especial para pets com necessidades específicas;</li>
         <li>fornecer tratamento médico para bichinhos doentes;</li>
         <li>Ter a vacinação e vermifugação em dia;</li>
         <li>judar na socialização de animais que são desconfiados ou assustados antes de eles se destinarem a seus lares permanentes;</li>
         <li>fornecer apoio à ninhadas e mães, oferecendo segurança e tranquilidade para os primeiros dias dos bebês.</li>
        </div>
        <br>
        <div>
            <p class="lead my-3"><strong>Esses são apenas alguns dos benefícios e detalhes que tornam os lares temporários tão importantes!</strong></p><br>
        </div>
        <div>
            <h3 class="featurette-heading">Quem pode participar?<span class="text-muted"></span></h3><br>
             <div align="center" class="section-title">
            <img src="{% static 'images/tutor-temporario-de-animais.jpg' %}">
            <p class="lead my-3"><strong>Qualquer pessoa pode se tornar um tutor temporário de um ou mais animais. Até mesmo aqueles que já têm bichinhos em suas casas!</strong></p><br>
        </div>
        <div>
            <p class="lead my-3"><strong>No entanto, é importante ter atenção a alguns detalhes. Confira a seguir:</strong></p>
            <li>sua casa está adaptada para receber esse hóspede?</li>
            <li>Você dispõe de tempo para ajudá-lo em suas necessidades?</li>
            <li>Caso você tenha outros pets, eles são sociáveis? É possível fazer uma adaptação gradual entre eles?</li>
            <p class="lead my-3"><strong>É importante lembrar que esse tipo de atitude é um comprometimento, ainda que o animalzinho não vá viver para sempre em sua casa.</strong></p>
        </div>
      <div>
        <h3 class="featurette-heading">Quais são as responsabilidades do tutor temporário?<span class="text-muted"></span></h3><br>
        <p class="lead my-3"><strong>As responsabilidades do tutor temporário vão depender muito de como esse processo se iniciou. Caso seja uma parceria com uma ONG, por exemplo, as regras, os deveres e os direitos serão acordados entre as partes antes de o pet ir para o seu lar.</strong></p>
        <p class="lead my-3"><strong>Na maioria das vezes, o tutor deve: </strong></p>
         <li>levar o animalzinho para consultas com o veterinário (os custos serão acordados entre ele e a ONG);</li>
         <li>brincar e socializar o novo pet;</li>
         <li>fornecer muito amor e carinho a esse animalzinho.</li>
         <p class="lead my-3"><strong>Caso você vá fazer o trabalho de lar temporário sozinho, a responsabilidade será integralmente sua durante esse período. Por isso, leve tudo em consideração, ok?</strong></p>
      </div>
    </section>
    <br><br>

{% endblock content %}